services:
  - type: web
    name: enterprise-rag-backend
    env: python
    region: oregon
    plan: starter
    rootDir: backend
    buildCommand: chmod +x build.sh && ./build.sh
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9
      - key: MONGODB_URL
        sync: false
      - key: DATABASE_NAME
        value: ragAgent
      - key: PINECONE_API_KEY
        sync: false
      - key: PINECONE_HOST
        sync: false
      - key: PINECONE_INDEX_NAME
        value: rag-embeddings
      - key: GOOGLE_API_KEY
        sync: false
      - key: AWS_ACCESS_KEY_ID
        sync: false
      - key: AWS_SECRET_ACCESS_KEY
        sync: false
      - key: AWS_BUCKET_NAME
        sync: false
      - key: AWS_REGION
        value: us-east-1
      - key: SECRET_KEY
        generateValue: true
      - key: ALGORITHM
        value: HS256
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: 30
      - key: CORS_ORIGINS
        value: '["*"]'
    healthCheckPath: /health